#header{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
header{
  background-color: RGB(192,192,192);
  display: flex;
}
html{
  background-color: RGB(192,192,192);
  /*background-color: rgba(0,0,0, .6);*/
}
a{
  color: black;
  text-decoration-line: none;
}
nav ul{
  background: url('../images/nav.png');
  border-radius: 0.5em;
  display: table;
  width: 100%;
  padding: 0;
  background-color: #89165B;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3),
              0 3px 5px rgba(0, 0, 0, .2),
              0 5px 10px rgba(0, 0, 0, .2),
              0 20px 20px rgba(0, 0, 0, .15);
}
nav li{
  display: table-cell;
  padding: 5vw;
  padding-bottom: 1.8em;
  padding-top: 1.8em;
  color: rgba(0,0,0, .6);
}

li p{
  color: black;
  background-color: white;
  font-size: 1.5em;
  font-weight: bold;
}
nav a{
  display: table-cell;
  text-align: center;
  color: white;
  text-decoration: none;
  padding: 8px 8px 17px 8px;
  transition: all .3s;
  font-family: cursive;
  font-style: inherit;
}
nav a:hover,
nav a:focus{
  background: rgba(0,0,0, .6);

}

ul{
  list-style: None;
}
#liste{
  display: flex;
  flex-wrap: wrap;
}
#liste > a{
  flex: 1 1 27%;
  text-align: center;
  background-color: lightgrey;
  border: solid;
  border-radius: 1em;
  margin: 1.5em;
  width: 27%;
}
#liste > a:hover{
  background-color: rgba(0,0,0, .6);
}
#liste > a:hover h2{
  color: white;
}
.active{
  background-color: rgba(0,0,0, .2);
}
body{
  background-color: rgba(0,0,0, .6);
  margin: 0;
}
footer {
  background-color: RGB(192,192,192);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
#centerdroite{
  padding-top: 3em;
  padding-left: 3em;
}
#centergauche{
  padding-top: 3em;
  padding-right: 3em;
}
